:root {
    --clr-dark: rgb(184, 139, 74);
    --clr-light: rgb(227, 193, 111);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*border: 2px solid red;*/

body {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-image: url(./assets/wood-floor-bg.png);

    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

#chessboard {
    display: grid;
    grid-template-rows: 3vw 1fr 3vw;
    grid-template-columns: 3vw 1fr 3vw;
    margin: auto;
    aspect-ratio: 1;
    height: min(90vh, 90vw);

    background-color: var(--clr-light);
    border: 10px solid var(--clr-dark);
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    border-radius: 15px;
}

main {
    border: 10px solid var(--clr-dark);
}

h2 {
    margin: auto;
}

@media only screen and (max-width: 1026px) {
    h2 {
        display: none;
    }
}

.numbers,
.letters {
    display: flex;
    justify-content: space-around;
    color: var(--clr-dark);
    filter: brightness(0.50);
}

.numbers {
    flex-flow: column;
}

/* Part of the style is defined in board.js */
.board {
    display: grid;
    height: 100%;
    width: 100%;
}

.light {
    background-color: var(--clr-light);
    color: black;
}

.dark {
    background-color: var(--clr-dark);
    color: black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    /* https://www.sitepoint.com/new-css3-relative-font-size/
    vmin means 'whichever is smaller between the 1% of the ViewPort's height and the 1% of the ViewPort's width'.*/
    font-size: 6vmin;
    /* Avoids having write cursor on Knight div */
    cursor: pointer;
}

.square:hover {
    filter: brightness(0.50);
}

.target {
    filter: brightness(0.50);
}

.busy {
    cursor: default;
}