* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid red;
}

/*border: 2px solid red;*/

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

main {
    display: grid;
}