* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid red;
}

/*border: 2px solid red;*/

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

main {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    aspect-ratio: 1;
}

/* Part of the style is defined in board.js */
.board {
    display: grid;
    height: 100%;
    width: 100%;
}